@import '../style/mixins.scss';
@import '../style/colors.scss';

.About_section {

    background-color: $gray_color;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right;
    width: 100%;
    height: auto;
    padding: 5% 0 8% 0;

    @media (max-width:770px) {
        padding: 5%;
        width: 100%;
        padding: 6% 0;
    }

    h2 {
        @include section-title;
        text-align: left;
        padding: 0% 5% 2% 0%;
    }

    hr {
        margin: 0 10%;
        width: 20%;
        height: 3px;
        background-color: $bleu_color;
    }

    .about_information {
        @include d-flex-row-evenly;
        flex-wrap: wrap;
        align-items: center;
    }



    .profile {
        width: 25%;
        height: 20rem;
        border-radius: 10px;
        background-image: url('../../src/images/Group 15(1).png');
        background-size: 70%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 4%;
        margin-left: 4%;
        @media (max-width:770px) {
            width: 100%;
            height: 100%;
        }

    }

    .About_section-comment {
        width: 55%;
        margin-left: 5%;

        @media (max-width:770px) {
            width: 100%;
        }


        h3 {
            padding-top: 4%;
            @include section-title;
            line-height: 50px;
            font-size: 1.8em;

            span {
                color: $bleu_color;
            }
        }

        p {
            font-size: 1em;
            width: 90%;
            color: white;
            text-align: justify;
            margin-bottom: 6%;
            margin-top: 6%;

        }

        a{
            color: white;
            margin-right: 4%;
            padding: 3%;

            @media (max-width:412px) {
                display: block;
                text-align: center;
                margin-top: 2%;
            }

            &:nth-child(2) {
                background-color: rgba(255, 255, 255, 0);
                transition: 0.3s;
                opacity: 0.79;
                border: solid white 1px;

                &:hover {
                    background-color: $bleu_color;
                    color: white;
                }
            }
        }

    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }

}