@import '../style/mixins.scss';
@import '../style/colors.scss';

footer {
    background-color: $bleu_color;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;

    .footer_group_info {
        padding: 3% 5%;
        z-index: 8;
        margin-top: -10%;
        width: 90%;
        border-radius: 15px;
        background-color: black;
        @include d-flex-row-evenly;
        flex-wrap: wrap;
        box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%),
            0 3px 14px 2px rgb(0 0 0 / 12%),
            0 5px 5px -3px rgb(0 0 0 / 20%);

        div:nth-child(1) {
            @include d-flex-culumn-center;
            width: 45%;

            @media (max-width:770px) {
                width: 90%;
                font-size: 1em;
            }

            img {
                width: 40%;
            }

            .title {
                font-family: 'Signika',
                    sans-serif;
                color: $bleu_color;
                font-size: 1.3em;
                font-weight: bold;
            }

            p {
                font-family: 'Signika',
                    sans-serif;
                font-size: 1em;
                color: white;
                width: 70%;
            }

            .reseaux {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                img {
                    width: 7%;
                    margin: 2%;
                }
            }
        }

        div:nth-child(2) {
            width: 45%;
            background-image: url('../images/Polygon\ 1.svg');
            background-position: right;
            background-size: 40%;
            background-repeat: no-repeat;

            @media (max-width:770px) {
                width: 90%;
                font-size: 1em;
            }

            address {
                font-size: 1.2em;
                color: white;

                p {
                    margin: 0;
                }

                a {
                    color: $bleu_color;
                    transition: 0.1s;

                    &:hover {
                        border-bottom: solid 3px white;
                    }
                }
            }
        }
    }

    p {
        margin-top: 2%;
        font-size: 1.2rem;
        font-family: 'Signika',
            sans-serif;
        color: white;
    }

}