@mixin d-flex-culumn-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@mixin d-flex-row-center {
    display: flex;
    justify-content: center;
}

@mixin d-flex-row-evenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin d-flex-row-between {
    display: flex;
    justify-content: space-between;
}

@mixin d-flex-row-end {
    display: flex;
    justify-content: flex-end;
}

@mixin section-title {
    font-size: 2.8em;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bolder;
    margin: 0;
    color: white;

    @media (max-width:770px) {
        font-size: 2em;
    }
}

@mixin button {
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    padding: 1.1% 1.6%;
    border-radius: 30px;
    border: unset;
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%),
        0 3px 14px 2px rgb(0 0 0 / 12%),
        0 5px 5px -3px rgb(0 0 0 / 20%);

    &:hover {
        background-color: #fff;
        color: #098DF1;
        transition: ease-in-out 0.3s;
    }
}