@import '../style/mixins.scss';
@import '../style/colors.scss';

.navbar {
    top: 0;
    background-color: $dark_color;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%),
        0 3px 14px 2px rgb(0 0 0 / 12%),
        0 5px 5px -3px rgb(0 0 0 / 20%);
    position: fixed;
    z-index: 99;

    div {
        button {
            i {
                color: white;
            }
        }
    }

    .collapse {
        width: 100%;

        .image_logo {
            width: 27%;
            height: 100%;
            @include d-flex-row-center;

            img {
                width: 50%
            }
        }
    }

}

.group_items {
    @include d-flex-row-end;
    width: 67%;
    margin: 0;

    li {
        list-style: none;
        margin: 0 3%;

        a {
            font-family: 'Roboto',
                sans-serif;
            font-size: 1.2em;
            color: $bleu_color;

            &:hover {
                color: white;
                cursor: pointer;
                transition: ease 0.3s;
            }

            &.active {
                color: $bleu_color;
                border-bottom: solid 3px white;
            }
        }

    }
}